<p class="headers">
	<h1 id="title">
		Contact Quill's
	</h1>
</p>
<br>

	<div id="outerContact">
		<div id="innerContact">
			<p>
		We are here to answer any questions that you may have about our treats.

		<br><br>

		We also welome your suggestions for any other treat ideas that you think we should carry. After-all, this store is more about catering to you, than to us. Please drop a line below.
	</p>

			<form action="demo_form.asp" method="get">
			  Name: <input type="text" name="fname" size="30" class="textarea"><br><br>
			  Email : <input type="text" name="lname" size="30" class="textarea"><br><br><br>
				Add comments here:<br><textarea rows="10" cols="100" class="textarea">

			</textarea>
			  <input type="submit" value="Submit" id="button">
			</form>

		</div>
		
	</div>
