<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="js/scipt.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title>hi</title>
</head>
<body>
	<% navbar = ["Home", "Products", "Locations", "Contact"] %>
				<ul id="navbar">
					<% navbar.each do |i| %>
						<li>
							<a href="/<%= i %>"><%= i %></a> 
						</li>
					<% end %>
				</ul>
	<%= yield %>
</body>
</html>