<p class="headers">
	<h1 id="title">
		Quill's Treats
	</h1>
</p>
<br>

	<div id="candypic">
		<img src="images/candy7.png">
		<img src="images/candy2.png">
		<img src="images/candy3.png">
		<img src="images/candy4.png">
		<img src="images/candy5.png">
		<img src="images/candy6.png">
	</div>
