.headers {

}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	background-image: url("../images/candy.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

#title {
	text-align: center;
	font-size: 4.5em;
	margin-bottom: 0;
}

#navbar {
	list-style: none;
	text-align: right;
}

#navbar li {
	display: inline;
	padding: 0px 50px;
}

#navbar li a {
	text-decoration: none;
}

#creators {
	font-size: 0.8em;
	text-align: center;
}

#main_text {
	width: 850px;
	margin: 0 auto;
	margin-top: 100px;
	padding: 5px 25px;
	background-color: rgba(255,255,255,0.6);
}

#candypic {
	width: 80%;
	margin: 0 auto;
	padding: 10px 0px;
	background-color: RGBA(173, 173, 173, 0.6);
}

#candypic img {
	width: 30%;
	margin-left: 23px;
}



